<div class="row">
  <div class="span4">

  	<h2>Barra de Navegaci&oacute;n</h2>

  </div>
  <div class="span8">

  		<div class="hero-unit">
				<h1>Curso Ruby on Rails</h1>
				  <p>
				  	Ejemplo de aplicaci&oacute;n utilizando el framework Ruby on Rails
					<%= link_to "Enlace a oja.la", "http://oja.la"%>
					<%= link_to "Ruby on Ralis", "http://rubyonrails.org"%>
				  </p>
				  <p>
				    <%= link_to "Registrarse", "#", :class=> "btn btn-primary btn-large"%>	
				    
				  </p>
       </div>
	  	
	  	
  </div>
</div>



